@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: azure;
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0,0.4);
}

.container .left_bar {
    position: relative;
    background: #003147;
    padding: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .right_bar {
    position: relative;
    background: white;
    padding: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.profileText {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileText .imgBox{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: white;
    font-size: 1.3em;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span{
    font-size: 0.6em;
    font-weight: 200;
}

.contactInfo {
    padding-top: 20px;
}

.title {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul {
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 16px;
    color: azure;
}

.contactInfo ul li .text {
    color: white;
    font-size: 1em;
}

a {
    text-decoration: none;
}

.color-black-text {
    color: black;
}
.color-white-text {
    color: white;
}
.color-blue-text {
    color: #003147;
}

.break-line {
    margin: 15px 0px;
    border-bottom: 1px solid #003147;;
}

.work-role {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.work-responsibility {
    margin-left: 30px;
    list-style:disc;
}

.work-responsibility b {
    font-weight: 400px;
}

.font-size-p8em {
    font-size: 0.8em;
}

.tech-skills span {
    margin-left: 10px;
}

.list-style-none {
    list-style: none;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

.resume-download  {
    background-color: white;
    position: relative;
    display: flex;
    color: #003147;
    top: 30px;
    padding: 15px 15px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.resume-download a {
    color: #003147;
}

@media only screen and (max-width: 600px) {

    body {
        margin: 10px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .container .left_bar {
        border-radius: 10px;
        padding: 30px;
    }

    .container .right_bar {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 30px;
    }

    .work-responsibility {
        margin-left: 15px;
    }

    .resume-download{
        top: 0;
    }
}